# Virtual environment
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite DB and logs
*.sqlite3
*.log
*.db

# Environment variable file
.env

# VSCode & JetBrains IDE
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
